/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-spcu-blocks-carousel-react {
	background-color: rgb(17, 17, 206);
	color: #fff;
	padding: 10px;
	text-align: center;
}
